body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(213, 213, 213);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 570px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    overflow: hidden;
}

h1 {
    color: rgb(41, 7, 1);
}